<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Smart App Banner -->
<meta name="apple-itunes-app" content="app-id=1433801905, app-clip-bundle-id=de.JulianKahnert.PDFArchiveViewer.Clip">

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/favicon/apple-touch-icon.png" | prepend: site.baseurl_root }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/favicon/favicon-32x32.png" | prepend: site.baseurl_root }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/favicon/favicon-16x16.png" | prepend: site.baseurl_root }}">
<link rel="manifest" href="{{ "/assets/img/favicon/site.webmanifest" | prepend: site.baseurl_root }}">
<link rel="mask-icon" href="{{ "/assets/img/favicon/safari-pinned-tab.svg" | prepend: site.baseurl_root }}" color="#d9334e">
<link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico" | prepend: site.baseurl_root }}">
<meta name="msapplication-TileColor" content="#d9334e">
<meta name="theme-color" content="#ffffff">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">



<title>{% t global.title %}</title>

<link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl_root }}">

<!-- Add SEO tags -->
{% seo %}

<!-- Open Graph Image - the rest will be added in via seo -->
<meta property="og:image" content="{{ "/assets/img/opengraph-preview.png" | prepend: site.baseurl_root }}" />

</head>
