<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{{ site.baseurl }}/#page-top">{% t global.title %}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      {% t global.menu %}
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/#download">{% t jumps.download %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/#features">{% t jumps.features %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/#contact">{% t jumps.contact %}</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarLanguageDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{site.lang}}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarLanguageDropdownLink">
            {% if site.lang == "de" %}
              <a class="dropdown-item disabled" href="#" >{% t global.german %}</a>
            {% else %}
              {% capture link_de %}{{ site.baseurl_root }}de{{ page.url}}{% endcapture %}
              <a class="dropdown-item" href="{{ link_de }}" >{% t global.german %}</a>
            {% endif %}
            {% if site.lang == "en" %}
              <a class="dropdown-item disabled" href="#" >{% t global.english %}</a>
            {% else %}
              {% capture link_en %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
              <a class="dropdown-item" href="{{ link_en }}" >{% t global.english %}</a>
            {% endif %}
          </div>
        </li>
    </div>
  </div>
</nav>
