// Styling for the download section
section.contact {
    text-align: center;
    color: #fff;
    h2 {
        margin-top: 0;
        margin-bottom: 25px;
        i {
            color: $theme-secondary;
        }
    }
    p {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;

        br {
            display: none;
            @include media-breakpoint-up(md) {
                display: initial;
            }
        }
    }
    ul.list-social {
        margin-bottom: 0;
        li {
            a {
                font-size: 40px;
                line-height: 80px;
                display: block;
                width: 80px;
                height: 80px;
                color: white;
                border-radius: 100%;
            }
            &.social-discord {
                a {
                    background-color: $brand-discord;
                    &:hover {
                        background-color: darken($brand-discord, 5%);
                    }
                }
            }
            &.social-github {
                a {
                    background-color: $brand-github;
                    &:hover {
                        background-color: darken($brand-github, 5%);
                    }
                }
            }
            &.social-email {
                a {
                    background-color: $brand-email;
                    &:hover {
                        background-color: darken($brand-email, 5%);
                    }
                }
            }
            &.social-faq {
                a {
                    background-color: $brand-faq;
                    &:hover {
                        background-color: darken($brand-faq, 5%);
                    }
                }
            }
        }
    }
}
