// Styling for the masthead
header.masthead {
    position: relative;

    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;

    color: white;
    background: $theme-primary;
    background: -webkit-linear-gradient(to right, $theme-primary, $theme-tertiary);
    background: linear-gradient(to right, $theme-primary, $theme-tertiary);
    .header-content {
        max-width: 500px;
        margin-bottom: 100px;

        text-align: center;
        h1 {
            font-size: 30px;
        }
    }
    .container {
        max-width: 1000px;
    }
    @media (min-width: 992px) {
        height: 100vh;
        min-height: 775px;
        padding-top: 0;
        padding-bottom: 0;
        .header-content {
            margin-bottom: 0;

            text-align: left;
            h1 {
                font-size: 36px;
            }
        }
        .container {
            max-width: 1140px;
        }
    }
}