header.pagehead {
    position: relative;

    width: 100%;
    padding-top: 65px;
    padding-bottom: 10px;
    min-height: 160px;

    color: white;
    background: $theme-primary;
    background: -webkit-linear-gradient(to right, $theme-primary, $theme-tertiary);
    background: linear-gradient(to right, $theme-primary, $theme-tertiary);
    @media (min-width: 992px) {
        .header-content {
            margin-bottom: 0;

            text-align: left;
            h1 {
                font-size: 50px;
            }
        }
        .device-container {
            max-width: 325px;
        }
    }
}