// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #d9334e;
$theme-secondary:  #fefefe;
$theme-tertiary:   #a10026;

$gray-base:        #000;
$gray-darker:      lighten($gray-base, 13.5%); // #222
$gray-dark:        lighten($gray-base, 20%);   // #333
$gray:             lighten($gray-base, 33.5%); // #555
$gray-light:       lighten($gray-base, 46.7%); // #777
$gray-lighter:     lighten($gray-base, 93.5%); // #eee

$brand-slack:		#0f7965;
$brand-github:		#333;
$brand-email:		#1f2d3d;
$brand-faq: 		#f95f62