---
# Only the main Sass file needs front matter (the dashes are enough)
---

$fa-font-path: "../assets/fonts/font-awesome/";
@import "bootstrap";
@import "font-awesome";

@import "new-age";

.dropshadow {
  -webkit-filter: drop-shadow(10px 10px 20px fade-out(black,0.7));
  filter: drop-shadow(10px 10px 20px fade-out(black,0.7));
}

.pull-together {
  letter-spacing: -3px;
  margin-left: -5px;
}