---
# Only the main Sass file needs front matter (the dashes are enough)
---

$fa-font-path: "../assets/fonts/font-awesome/";
$simple-line-font-path: "../assets/fonts/";

@import "bootstrap";
@import "font-awesome";

@import "new-age";
@import "simple-line-icons";


.pull-together {
  letter-spacing: -3px;
  margin-left: -5px;
}

.crop-img {
  margin-top: -3%;
  margin-bottom: -8%;
}

.faq_question {
  padding: 20px 0;
}