---
layout: default
---

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-4 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">{% t marketing.masthead_message %}</h1>
          <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">{% t marketing.download_now %}</a>
        </div>
      </div>
      <div class="col-lg-8 my-auto">
                <img src="{{site.baseurl_root}}{% t marketing.image_screenshot_1 %}" class="img-fluid dropshadow" alt="">
      </div>
    </div>
  </div>
</header>

<section class="download bg-secondary text-center" id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading">Discover what all the buzz is about!</h2>
        <p>{% t marketing.availability %}</p>
        <div class="badges">
          <a class="badge-link" href="#"><img src="{{ site.baseurl_root }}{% t marketing.image_app_store_badge %}" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Sort your paperwork — have fun in the process</h2>
      <p class="text-muted">This is what the PDF Archiver can do!</p>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-8 offset-lg-2 my-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="feature-item">
                <i class="icon-folder-alt text-primary"></i>
                <h3>Automated Structuring</h3>
                <p class="text-muted">Your documents will be organized in a simple year-based folder structure.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-item">
                <i class="icon-tag text-primary"></i>
                <h3>The Power of Tagging</h3>
                <p class="text-muted">Tag your PDF documents with keywords to group them.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="feature-item">
                <i class="icon-eyeglass text-primary"></i>
                <h3>Embedded Previews</h3>
                <p class="text-muted">See a preview of your documents while working through the input directory.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-item">
                <i class="icon-lock-open text-primary"></i>
                <h3>Open Source</h3>
                <p class="text-muted">The PDF Archiver is licensed under CC BY-NC-SA 4.0, and can be forked on GitHub.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cta">
  <div class="cta-content">
    <div class="container">
      <h2>{% t marketing.cta_1 %}<br>{% t marketing.cta_2 %}</h2>
      <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">{% t marketing.start_btn %}</a>
    </div>
  </div>
  <div class="overlay"></div>
</section>

<section class="contact bg-primary" id="contact">
  <div class="container">
    <div class="row">
      <div class="col mb-5">
        <h2>{% t marketing.need_help %}</h2>
        <p>{% t marketing.need_help_text %}</p>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-faq">
            <a href="{{ site.faq_url }}">
              <span class="pull-together">
                <i class="fa fa-question"></i>
                <i class="fa fa-exclamation fa-lg"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item social-slack">
            <a href="{{ site.slackin_url }}">
              <i class="fa fa-slack"></i>
            </a>
          </li>
          <li class="list-inline-item social-email">
            <a href="mailto:{{ site.support_email | encode_email }}">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>{% t marketing.contributions_welcome %}</h2>
        <p>{% t marketing.contrib_text %}</p>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-slack">
            <a href="{{ site.slackin_url }}">
              <i class="fa fa-slack"></i>
            </a>
          </li>
          <li class="list-inline-item social-github">
            <a href="{{ site.github_url }}">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li class="list-inline-item social-email">
            <a href="mailto:{{ site.feature_requests_email | encode_email }}">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>